<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/mysite-logs/exception.log</file> 														<!-- 이 경로에 연결되어 있음. -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">     
			<FileNamePattern>/mysite-logs/exception.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>											<!-- 압축파일index 1부터 10까지, 10넘어가면 1을 지우고 1에 쓰기 -->
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>100MB</MaxFileSize>									<!-- 파일크기가 50kb가 넘어가면 압축하고 다른 파일에 남겨라 -->
		</triggeringPolicy>
	</appender>
	


	
	<logger name="com.bitacademy.mysite.exception" level="error" additivity="false">
            <appender-ref ref="fileAppender" />								<!-- file에 남김 -->
            
    </logger>
    
  
	
	<!-- 루트(글로벌) 로거,  logger 없는 애들은 다 여기에 걸림 -->
	<root level="warn">							<!-- level이 debug이므로 높다. debug 아래 거 다 나온다. ->warn으로 바꿔줌 -->
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>